.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#set-display {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 0.5rem;
  padding: 2rem;
}

.rainbow-border {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.card-content {
  position: relative;

  transition: transform 1.2s;
  transform-style: preserve-3d;
  width: 265px;
  height: 370px;
  border-radius: 11px;
}

.selected .card-content {
  box-shadow: 0 0 10px rgb(255, 105, 210);
}

.flippable:hover .card-content {
  transform: rotateY(180deg);
  transition: transform 0.7s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.timer-container {
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.timer {
  /* color: blue; */
  width: 50%;
  height: 100%;
  border: 1px solid pink;
}

.timer-bar {
  background-color: green;
  height: 100%;
}
